#Table_01 {
	position:absolute;
	left:0px;
	top:0px;
	width:1440px;
	height:1700px;
}

#MyWebsite-01 {
	position:absolute;
	left:0px;
	top:0px;
	width:1440px;
	height:602px;
}

#MyWebsite-02 {
	position:absolute;
	left:0px;
	top:602px;
	width:458px;
	height:120px;
}

#MyWebsite-03 {
	position:absolute;
	left:458px;
	top:602px;
	width:982px;
	height:54px;
}

#MyWebsite-04 {
	position:absolute;
	left:458px;
	top:656px;
	width:982px;
	height:90px;
}

#MyWebsite-05 {
	position:absolute;
	left:0px;
	top:722px;
	width:458px;
	height:21px;
}

#MyWebsite-06 {
	position:absolute;
	left:0px;
	top:743px;
	width:119px;
	height:66px;
}

#MyWebsite-07 {
	position:absolute;
	left:119px;
	top:743px;
	width:262px;
	height:74px;
}

#MyWebsite-08 {
	position:absolute;
	left:381px;
	top:743px;
	width:77px;
	height:66px;
}

#MyWebsite-09 {
	position:absolute;
	left:458px;
	top:746px;
	width:982px;
	height:657px;
	
}

#MyWebsite-10 {
	position:absolute;
	left:0px;
	top:809px;
	width:119px;
	height:77px;
}

#MyWebsite-11 {
	position:absolute;
	left:381px;
	top:809px;
	width:77px;
	height:77px;
}

#MyWebsite-12 {
	position:absolute;
	left:119px;
	top:817px;
	width:262px;
	height:69px;
}

#MyWebsite-13 {
	position:absolute;
	left:0px;
	top:886px;
	width:119px;
	height:72px;
}

#MyWebsite-14 {
	position:absolute;
	left:119px;
	top:886px;
	width:262px;
	height:72px;
}

#MyWebsite-15 {
	position:absolute;
	left:381px;
	top:886px;
	width:77px;
	height:72px;
}

#MyWebsite-16 {
	position:absolute;
	left:0px;
	top:958px;
	width:119px;
	height:65px;
}

#MyWebsite-17 {
	position:absolute;
	left:119px;
	top:958px;
	width:262px;
	height:65px;
}

#MyWebsite-18 {
	position:absolute;
	left:381px;
	top:958px;
	width:77px;
	height:65px;
}

#MyWebsite-19 {
	position:absolute;
	left:0px;
	top:1023px;
	width:119px;
	height:69px;
}

#MyWebsite-20 {
	position:absolute;
	left:119px;
	top:1023px;
	width:262px;
	height:69px;
}

#MyWebsite-21 {
	position:absolute;
	left:381px;
	top:1023px;
	width:77px;
	height:69px;
}

#MyWebsite-22 {
	position:absolute;
	left:0px;
	top:1092px;
	width:119px;
	height:71px;
}

#MyWebsite-23 {
	position:absolute;
	left:119px;
	top:1092px;
	width:262px;
	height:71px;
}

#MyWebsite-24 {
	position:absolute;
	left:381px;
	top:1092px;
	width:77px;
	height:71px;
}

#MyWebsite-25 {
	position:absolute;
	left:0px;
	top:1163px;
	width:458px;
	height:30px;
}

#MyWebsite-26 {
	position:absolute;
	left:0px;
	top:1193px;
	width:458px;
	height:270px;
}

#MyWebsite-27 {
	position:absolute;
	left:458px;
	top:1403px;
	width:982px;
	height:183px;
}

#MyWebsite-28 {
	position:absolute;
	left:0px;
	top:1463px;
	width:458px;
	height:123px;
}

#MyWebsite-29 {
	position:absolute;
	left:0px;
	top:1586px;
	width:1440px;
	height:57px;
}

#MyWebsite-30 {
	position:absolute;
	left:0px;
	top:1643px;
	width:1440px;
	height:57px;
}

.texto{
	color: #c7f2ff;
	font-size: 30px;
	font-family: verdana;
}

table{
text-align: center;
	
}

